html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    background-color: #e9faff;
    transition: all 0.5s;
}

.container.auth {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
}

.container.minimized {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    margin-left: 85px;
}

.body.night {
    background: #16171A;
    color: rgba(233,250,255,0.8);
    transition: all 0.5s;
}

    .body.night::-webkit-scrollbar {
        background: #16171A;
    }
    .body.night::-webkit-scrollbar-thumb {
        background-color: rgba(233,250,255, 0.4);
    }

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    margin-left: 300px;
    transition: all 0.5s;
}

.container.adaptive {
    margin-left: 85px;
}

@media screen and (max-width: 1366px){
    .container {
        margin-left: 225px;
        transition: all 0.5s ease;
    }
}

@media screen and (max-width: 1024px){
    .container{
        margin-left: 0;
    }
}