.header {
    min-height: 50px;
    background-color: rgba(33,202,112,0.7);
    display: flex;
    width: 100%;
    align-items: center;
}

@media screen and (max-width: 768px){
    .header {
        min-height: 45px;
    }
}