input, .searchabon {
    font-family: 'Roboto';
    font-weight: 300;
}

.select2 {
    margin-bottom: 5px;
    font-size: 20px;
}

.select2-selection {

}

.select2-container--default .select2-selection--multiple {
    padding-top: 10px;
    padding-left: 35px;
    padding-bottom: 15px;
    border-radius: 0;
    font-size: 20px;
}
.select2-search {
}

.body.night input {
    background-color: rgba(204,204,204,0.9);
    color: rgba(22,23,26,0.8);
    font-weight: 400;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
    -webkit-text-fill-color: #808080;
    font-family: 'Roboto';
    font-weight: 300;
}

.body.night input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgba(204,204,204,0.9) inset;
    -webkit-text-fill-color: rgba(22,23,26,0.8);
    font-family: 'Roboto';
    font-weight: 300;
}