@import "title.css";
@import "input.css";
@import "button.css";
@import "container.css";
@import "header.css";
@import "footer.css";
@import "content.css";
@import "logo.css";
@import "leftmenu.css";
@import "table.css";

.main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #e9faff;
    min-height: 100vh;
    width: 100%;
}