table {
    margin-top: 10px;
    width: 100%;
}

tr {
    color: black;
    font-size: 18px;
}

tr:first-child th{
    border: 0;
}

th {
    font-family: 'Roboto';
    font-weight: 500;
    padding: 5px;
    border: 1px solid #000000;
}

tr {
    margin-right: 30px;
}

th a {
    font-weight: 400;
}

.editlink.inactive {
    fill: #9F9F9F;
}

.openlink.inactive {
    fill: #9F9F9F;
}

.closelink.inactive {
    fill: #9F9F9F;
}

.cancellink.inactive {
    fill: #9F9F9F;
}

.editlink {
    cursor: pointer;
}

.openlink {
    cursor: pointer;
}

.closelink {
    cursor: pointer;
}

.cancellink {
    cursor: pointer;
}

.editlink:hover {
    height: 29px;
}

.openlink:hover {
    height: 34px;
}

.closelink:hover {
    height: 34px;
}

.cancellink:hover {
    height: 34px;
}

.openlink.req:hover {
    height: 29px;
}

.cancellink.req:hover {
    height: 29px;
}

.editlink.req:hover {
    height: 29px;
}

.closelink.req:hover {
    height: 29px;
}

.first-row {
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
}

.first-row th {
    padding: 22px;
    font-weight: 500;
    font-size: 18px;
    color: black;
    background: transparent;
    padding-bottom: 10px;
}

tr:nth-child(2n+1):not(.first-row):not(.actions){
    background-color: rgba(201,228,246,0.9);
}

tr:nth-child(2n):not(.actions) {
    background-color: rgba(180,218,242,0.9);
}

.actions {
    border: 0px;
    background: #e9faff;
    padding-right: 0;
    padding-left: 0;
    width: 55px;
}