.editlink.inactive {
    fill: #9F9F9F;
}

.openlink.inactive {
    fill: #9F9F9F;
}

.closelink.inactive {
    fill: #9F9F9F;
}

.cancellink.inactive {
    fill: #9F9F9F;
}

.editlink {
    cursor: pointer;
}

.openlink {
    cursor: pointer;
}

.closelink {
    cursor: pointer;
}

.cancellink {
    cursor: pointer;
}

.table .namefor {
    display: none;
}

.table tr .actions img {
    transition: all 0.5s;
}

.table tr .actions img:hover {
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
}

.table .tbody .row{
    border: 1px solid #000000;
}

.table {
    margin-top: 10px;
    width: 100%;
}

tr {
    color: black;
    font-size: 18px;
    height: 45px;
    margin-right: 30px;
}

.first-row th{
    border: 0;
}

th {
    font-family: 'Roboto';
    font-weight: 500;
    padding: 5px;
    border: 1px solid #000000;
}

.first-row {
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
}

.first-row th {
    padding: 22px;
    font-weight: 500;
    font-size: 18px;
    color: black;
    background: transparent;
    padding-bottom: 10px;
}

tr:nth-child(2n+1):not(.first-row):not(.actions){
    background-color: rgba(201,228,246,0.9);
}

tr:nth-child(2n):not(.actions) {
    background-color: rgba(180,218,242,0.9);
}

.actions {
    border: 0px;
    background: #e9faff;
    padding-right: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
}