<div>home</div>
<a href="/Request/PlanningRequests">Requests</a>
<a href="/User/Users">Users</a>
<form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
	<input type="submit" value="Exit" />
</form>