@using RMS.Controllers

<!DOCTYPE html>
<html lang="en">
	<head>
		@await Html.PartialAsync("MetatagsPartial")
		@await Html.PartialAsync("CssPartial")
	<link rel="icon" href="../../../../../img/ico/favicon.ico" type="image/x-icon">
	</head>
	<body>
			@if (User.Identity.IsAuthenticated)
			{
				<style>
					.container {
						margin-left: 300px;
					}
				</style>
				<div class="leftmenu">
					<vc:Leftmenu />
				</div>
			}
		<div class="container">
			@await Html.PartialAsync("HeaderPartial")

			<div class="content">
				@RenderBody()

			</div>
			<footer class="footer">

			@await Html.PartialAsync("FooterPartial")

			</footer>
		</div>
	@await Html.PartialAsync("ScriptsPartial")

	</body>
</html>