@using RMS.Controllers
@{
	string containerClass = "container";
	if (ViewContext.RouteData.Values["controller"].ToString() == "Account" && ViewContext.RouteData.Values["action"].ToString() == "Login")
	{
		containerClass += " auth";
	}
}
<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
		@await Html.PartialAsync("MetatagsPartial")
		@await Html.PartialAsync("CssPartial")
	<link rel="icon" href="~/img/ico/favicon.ico" type="image/x-icon">
	</head>
	<body class="body" id="body">
			@if (User.Identity.IsAuthenticated)
			{
				<vc:Leftmenu />
			}
		<div class="@containerClass" id="container">
			@await Html.PartialAsync("HeaderPartial")

			<div class="content">
				@RenderBody()

			</div>
			<footer class="footer">

			@await Html.PartialAsync("FooterPartial")

			</footer>
		</div>
	@await Html.PartialAsync("ScriptsPartial")

	</body>
</html>