@if (!User.Identity.IsAuthenticated)
{
	<div class="wrap-logo">
		<img class="logo" src="~/img/png/google.png"/>
	</div>
}
else
{
	<header class="header">
		<button>1</button>
		<button>2</button>
		<button>3</button>
	</header>
}