@if (!User.Identity.IsAuthenticated)
{
	<div class="wrap-logo">
		<img class="logo" src="~/img/png/google.png"/>
	</div>
}
else
{
	<header class="header" onload="Onload()">
		<div class="wrap-img">
			<img class="img" onclick="toggleLeftSideBar()" src="~/img/svg/burgerbtn.svg" />
			<img class="img" onclick="window.location.href = '/Home/Index';" src="~/img/svg/home.svg" />
		</div>
		<div class="wrap-left-img">
			<div class="search">
				<input type="text" placeholder="Пошук">
				<img class="search-img" src="~/img/svg/search.svg" />
			</div>
			<img class="img" onclick="window.location.href = '/Help/Help';" src="~/img/svg/questionmark.svg" />
			<label style="cursor: pointer; display: flex; align-items: center;">
				<input type="checkbox" style="width: 0; height: 0; margin-right: 0;" id="night" onclick="togglePageMode(1)">
				<img class="img" src="~/img/svg/night_day.svg" />
			</label>
		</div>
	</header>
}