@import "reset.css";
@import "fonts.css";
@import "common.css";

@import "components/main.css";

@import "components/authpage/main.css";
@import "components/requestpage/main.css";
@import "components/personalpage/main.css";