.leftmenu .userimg {
    border-radius: 100%;
    height: 65px;
    width: 65px;
}

.leftmenu .user:hover {
    background: #3C444E;
    border-radius: 8px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}

.leftmenu .user {
    font-weight: 300;
    width: 90%;
    display: flex;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    cursor: pointer;
    padding-left: 25px;
    padding-right: 30px;
    transition: all 0.5s ease;
}

.leftmenu .user .info {
    margin-left: 30px;
}

.leftmenu .user .name {
    font-size: 18px;
    transition: all 0.5s ease;
}

.leftmenu .user .status {
    margin-top: 5px;
    font-size: 16px;
    color: #46BD82;
}

.leftmenu.minimized .user {
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
}

.leftmenu.minimized .user .info {
    display: none;
    margin-left: 0;
}

.leftmenu.minimized .user .userimg{
    height: 55px;
}

@media screen and (max-width: 1366px) {
    .leftmenu .user {
        padding-left: 15px;
        padding-right: 20px;
        transition: all 0.5s ease;
    }

    .leftmenu .user .info {
        margin-left: 15px;
    }

    .leftmenu .user .info .name {
        font-size: 16px;
        transition: all 0.5s ease;
    }

    .leftmenu .user .info .status {
        font-size: 14px;
    }

    .leftmenu .user .userimg {
        height: 55px;
    }
}