@import "table.css";
@import "card.css";
@import "createrequest.css";
@import "viewrequest.css";

.request-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
