.requests tr {
    color: #fff;
}

.requests .row.default {
    background: #81A5CA;
}

.requests .row.critical {
    background: #DE88DB;
}

.requests .openlink {
    background: #64CA7F;
    height: 100%;
}

.requests .closelink {
    background: #DC8D79;
    height: 100%;
}

.requests .cancellink {
    background: #D4C66D;
    height: 100%;
}

.requests .first-row {
    color: black;
    font-size: 22px;
}
