.requests {
    display: flex;
    justify-content: center;
}

.requests tr:nth-child(2n+1):not(.first-row) {
    background-color: transparent;
}

.requests tr:nth-child(2n) {
    background-color: transparent;
}

.requests .row.default {
    background: rgba(189,240,255,0.8);
}

.requests .row.critical {
    background: rgba(240,150,204,0.6);
}

.body.night .requests .row.default {
    background: rgba(79, 146, 195, 0.8);
}

.body.night .requests .row.critical {
    background: rgba(244, 176, 75, 0.8);
}
