.header .img {
    width: 30px;
    transition: all 0.3s;
}

    .header .img:hover {
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
        background: rgba(0, 0, 0, 0.1);
        transition: all 0.3s;
    }

.header .wrap-img {
    cursor: pointer;
    margin-left: 25px;
    display: flex;
    align-items: center;
}

.header .wrap-img :not(:first-child) {
    margin-left: 15px;
}

.header .wrap-left-img {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 30px;
    cursor: pointer;
}

.header .wrap-left-img :not(:last-child) {
    margin-right: 25px;
}

.header .wrap-left-img .search {
    display: flex;
    align-items: center;
    margin-right: 0;
}

@media screen and (max-width: 768px) {
    .header .img {
        width: 25px;
    }

    .header .wrap-left-img {
        margin-right: 20px;
    }

    .header .wrap-img {
        margin-left: 15px;
    }

    .header .wrap-img :not(:first-child) {
        margin-left: 10px;
    }

    .header .wrap-left-img :not(:last-child) {
        margin-right: 15px;
    }

    .header .wrap-left-img .search{
        margin-right: 0;
    }
}