.header .search .search-img {
    position: absolute;
    margin-left: 180px;
    width: 20px;
}

.header .search input {
    padding: 5px;
    font-size: 16px;
    border-radius: 12px;
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.header .search input:focus {
    outline: 3px solid #96EAF0;
}

@media screen and (max-width: 768px){
    .header .search input {
        font-size: 12px;
        border-radius: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .header .search .search-img {
        margin-left: 135px;
        width: 15px;
    }
}

@media screen and (max-width: 480px) {
    
    .container .search input{
        width: 160px;
    }

    .container.minimized .search input{
        width: 100px;
    }

    .container.minimized .header .search .search-img {
        margin-left: 75px;
        width: 15px;
    }
}
