.container-login-form-btn {
    margin-top: 20px;
}

.container-login-form-btn .login-form-btn {
    background-color: #4294CB;
    color: #FEFEFE;
    cursor: pointer;
    width: 400px;
    max-width: 100vw;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
    transition: all 0.2s ease-in-out;
}

.container-login-form-btn .login-form-btn:hover {
    transition: all 0.2s ease-in-out;
    background-color: #3D88BA;
}

@media screen and (max-width: 550px) {
    .container-login-form-btn .login-form-btn{
        width: 350px;
    }
}

@media screen and (max-width: 400px) {
    .container-login-form-btn .login-form-btn {
        width: 250px;
        font-size: 14px;
    }
}