.wrap-input {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

    .wrap-input .input {
        padding: 15px;
        width: 400px;
        max-width: 100vw;
        font-size: 20px;
        color: #808080;
        touch-action: manipulation;
        border: solid 0.2px #6666;
        margin-bottom: 6px;
        font-weight: 300;
        background-color: #fff;
    }

.body.night .wrap-input .input {
    background-color: rgba(204,204,204,0.9);
    color: rgba(22,23,26,0.8);
    font-weight: 400;
}

.wrap-input .input:focus {
    outline: 0.2px solid #0094ff;
}

.wrap-input .input.login {
    padding-left: 40px;
}

.wrap-input .input.password {
    padding-left: 40px;
}

.input-img{
    height: 25px;
    width: 25px;
    position: fixed;
    margin-left: 8px;
    margin-top: 15px;
    z-index: 1;
}

@media screen and (max-width: 550px) {
    .wrap-input .input{
        width: 350px;
    }
}

@media screen and (max-width: 400px) {
    .wrap-input .input {
        width: 250px;
        font-size: 14px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .input-img {
        height: 20px;
        width: 20px;
        margin-left: 8px;
        margin-top: 14px;
    }
}