.wrap-check {
    display: flex;
    align-items: center;
}

.custom-checkbox {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-bottom: 12px;
    margin-right: 3px;
}

.custom-checkbox:focus {
    outline: none;
}

.custom-checkbox:checked:after {
    content: '\2714';
    font-size: 10px;
    position: absolute;
    top: 1px;
    left: 4px;
    color: #fff;
}

.custom-checkbox:checked {
    background-color: #34A0B6;
    transition: all 0.2s ease-in-out;
}

.custom-checkbox {
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0.2px solid #37B0C9;
    padding: 8px;
    border-radius: 2px;
    position: relative;
    top: 6px;
    width: 10px;
    cursor: pointer;
}

.checklbl {
    cursor: pointer;
    margin-left: 3px;
    font-size: 18px;
    font-weight: 300;
}
